
@import 'normalize';
@import 'foundation';
@import 'animate';

$background-gradient-start: #feffff;
$background-gradient-end: #d2ebf9;

@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  src: local('Vollkorn Regular'), local('Vollkorn-Regular'), url(/fonts/Vollkorn-Normal-400.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 700;
  src: local('Vollkorn Bold'), local('Vollkorn-Bold'), url(/fonts/Vollkorn-Bold-700.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@for $i from 1 through 25 {
  @media (min-height: 1px * ($i*50)) {
    div.content {
      pre {
        > code {
          height: 34px * $i;
        }
      }
    }
  }
}

body {
  > article {
    opacity: 0.10;
  }
  > article.bespoke-parent {
    opacity: 1.0;
  }
}

.bespoke-parent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  font-family: 'Vollkorn', serif;
  background: $background-gradient-start;
  background: linear-gradient(to bottom, $background-gradient-start 0%, $background-gradient-end 100%);
}

.bespoke-slide {
  @extend .animated;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1, h2 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
  }
  h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 3rem;
  }
  ul {
    list-style: none;
    margin-top: 2rem;
  }
  li.bullet {
    font-size: 2rem;
    ul {
      margin: 0 0 0 3rem;
      li {
        font-size: 1.8rem;
        list-style: circle;
      }
    }
  }

  ul.tabs {
    padding: 0 0 1rem 0;
    li.tab-title {
      > a {
        padding: 4px 20px;
      }
    }
  }

  p {
    font-size: 1.6rem;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 1rem;
  }

  div.content {
    padding: 0;
    pre {
      > code {
        padding: 1rem;
        overflow: auto;
      }
    }
  }

  .flex-title {
    width: 90%;
    text-align: center;
  }

  .source-view {
    width: 90%;
    height: 80%;
    position: relative;
    overflow: hidden;
  }
  .source-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 65%;
    height: 100%;
  }
  .source-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 35%;
    height: 100%;

    iframe {
      width: 100%;
      height: 100%;
      border: none;
      padding: 2rem;
    }
  }

  .results-view {
    width: 90%;
    height: 80%;
    overflow: hidden;
    iframe {
      width: 100%;
      height: 100%;
      border: none;
      padding: 2rem;
      overflow: scroll;
    }
  }

  .three-view {
    width: 90%;
    p {
      font-size: 1.8rem;
      text-align: center;
      padding-left: 0;
      padding-right: 0;
      margin-top: 2rem;
      margin-bottom: 1rem;
      border-top: 1px solid #aaa;
      border-bottom: 1px solid #aaa;
    }

    ul {
      padding-left: 1rem;
      li {
        font-size: 1.4rem;
        list-style: disc;
      }
    }
  }
}

.bespoke-active {
  @extend .fadeIn;
  z-index: 100;
}

.bespoke-inactive {
  @extend .fadeOut;
}

.bespoke-bullet {
  @extend .animated;
}

.bespoke-bullet-active {
  @extend .fadeIn;
}

.bespoke-bullet-inactive {
  opacity: 0;
}
