
@import 'normalize';
@import 'foundation';
@import 'animate';

pre.hljs-pre {
  padding: 0;
}
pre {
  font-family: $code-font-family;
  font-weight: $code-font-weight;
  color: $code-color;
  background-color: $code-background-color;
  border-width: $code-border-size;
  border-style: $code-border-style;
  border-color: $code-border-color;
  padding: 0 1.0rem;
  > code {
    border: none;
  }
}

.bespoke-parent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.bespoke-slide {
  @extend .animated;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bespoke-active {
  @extend .fadeInLeft;
}

.bespoke-inactive {
  @extend .fadeOutDown;
}
