
@import 'normalize';
@import 'foundation';

pre.hljs-pre {
  padding: 0;
}
pre {
  font-family: $code-font-family;
  font-weight: $code-font-weight;
  color: $code-color;
  background-color: $code-background-color;
  border-width: $code-border-size;
  border-style: $code-border-style;
  border-color: $code-border-color;
  padding: 0 1.0rem;
  > code {
    border: none;
  }
}
