<!--__display__-->
<div class="row">
    <div class="col-sm-12">
        <h2>Plants</h2>
        <input type="text" class="form-control" ng-model="plants.searchText" placeholder="Search ..." />
        <div class="list-group">
            <a ng-repeat="plant in plants.data.plants | filter:plants.searchText | limitTo:50"
               class="list-group-item"
               ng-href="plants/{{plant.symbol}}">
                {{plant.scientificName}} ({{plant.commonName}})
            </a>
        </div>
    </div>
</div>
<!--__display__-->
