<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Internationalisation (i18n)</title>
    <style> .ng-cloak { display: none; } </style>
</head>
<body>

    <!--__display__-->
    <div ng-controller="exampleCtrl as vm" class="container ng-cloak">

        <form>
            <div class="form-group">
                <label for="languageSelect">Choisir La Langue</label>
                <div class="col-sm-12">
                    <select id="languageSelect" class="form-control"
                            ng-options="lang as lang.name for lang in vm.languages"
                            ng-model="vm.selectedLanguage"
                            ng-change="vm.changeLanguage()">
                    </select>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-lg-4">
                <strong>Langue sélectionné</strong>
            </div>
            <div class="col-lg-8">
                {{vm.selectedLanguage.name}} ({{vm.selectedLanguage.isoCode}})
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <strong>Locale actuel</strong>
            </div>
            <div class="col-lg-8">
                {{vm.currentLocale.id}}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <strong>Date / Heure</strong>
            </div>
            <div class="col-lg-8">
                {{vm.currentDateTime | date:'medium'}}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <strong>Nombre</strong>
            </div>
            <div class="col-lg-8">
                {{vm.amount | number:2}}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <strong>Monnaie</strong>
            </div>
            <div class="col-lg-8">
                {{vm.amount | currency}}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <strong>Pluralisation</strong>
            </div>
            <div class="col-lg-8">
                <div>
                    <label>
                        <input type="radio" ng-model="vm.count" value="0"> zéro
                    </label>
                    <label>
                        <input type="radio" ng-model="vm.count" value="1"> un
                    </label>
                    <label>
                        <input type="radio" ng-model="vm.count" value="10"> dix
                    </label>
                </div>
                <div>
                    <ng-pluralize
                            count="vm.count"
                            when="{ 0: 'Pas d&quot;enfants',
                                 1: 'Un enfant',
                                 other: 'Beaucoup d&quot;enfants'}">
                    </ng-pluralize>
                </div>

            </div>
        </div>

    </div>

<script src="/jspm_packages/system.js"></script>
<script src="/config.js"></script>
<script>

    System.import('angular')
        .then(function() {
            return System.import('examples/i18n/angular-locale_fr-fr');
        })
        .then(function() {
            return System.import('examples/i18n/i18n');
        });

</script>
<!--__display__-->

</body>
</html>