<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>AngularJS Moving Forward</title>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="/css/presentation.css">
</head>
<body>

<article>

    <!-- Title Page -->
    <section>
        <div class="text-center">
            <div>
                <img src="img/angular-js.png" />
            </div>
            <h1>Angular JS</h1>
            <h2>Moving Forward</h2>
            <hr />
            <h3>
                <i class="fa fa-twitter"></i> @dfbaskin
            </h3>
            <h3>
                <i class="fa fa-envelope"></i> dbaskin@wintellect.com
            </h3>
        </div>
    </section>

    <section>
        <div class="text-center">
            <h2><img src="img/angular-js.png" /> State of Things</h2>
            <div class="bullet">
                <ul>
                    <li class="bullet">Started in 2009</li>
                    <li class="bullet">Became Popular in 2013</li>
                </ul>
                <img class="bullet" src="img/AngularSearchComparison.png" width="652" height="382" />
            </div>
        </div>
    </section>

    <section>
        <div class="text-center">
            <h2><img src="img/angular-js.png" /> State of Things</h2>
            <div>
                <ul>
                    <li class="bullet">Now Widely Used</li>
                    <li class="bullet">Including Google Internal Projects</li>
                    <li class="bullet">Success in Wintellect Projects</li>
                </ul>
            </div>
        </div>
    </section>

    <section>
        <div class="text-center">
            <h1 class="bullet">But ...</h1>
        </div>
    </section>

    <section>
        <div class="text-center">
            <ul>
                <li class="bullet">ECMAScript 6 (ES6)</li>
                <li class="bullet">Standards: Modules and Promises</li>
                <li class="bullet">Web Components</li>
            </ul>
        </div>
    </section>

    <section>
        <div class="flex-title">
            <h2>Animations</h2>
        </div>
        <div class="source-view">
            <div class="source-left">
                <ul class="tabs" data-tab>
                    <li class="tab-title active"><a href="#no-animation-1">HTML</a></li>
                    <li class="tab-title"><a href="#no-animation-2">Script</a></li>
                </ul>

<div class="tabs-content">
<div class="content active" id="no-animation-1">
<pre><code class="html">&lt;div ng-controller=&quot;exampleCtrl as vm&quot;&gt;

  &lt;div&gt;
    &lt;input type=&quot;text&quot;
      ng-model=&quot;vm.newItem&quot;
      ng-keypress=&quot;($event.which === 13) &amp;amp;&amp;amp; vm.addItem(vm.newItem)&quot; /&gt;
    &lt;button type=&quot;button&quot;
      ng-click=&quot;vm.addItem(vm.newItem)&quot;&gt;Add&lt;/button&gt;
  &lt;/div&gt;

  &lt;div&gt;
     &lt;ol&gt;
       &lt;li ng-repeat=&quot;item in vm.items track by item.id&quot;&gt;
         &lt;button type=&quot;button&quot;
           ng-click=&quot;vm.removeItem(item)&quot;&gt;x&lt;/button&gt;
           {{item.text}}
       &lt;/li&gt;
     &lt;/ol&gt;
  &lt;/div&gt;

&lt;/div&gt;</code></pre>
</div>
<div class="content" id="no-animation-2">
<pre><code class="javascript">class ExampleCtrl {

  constructor() {
    this.nextItemId = 0;
    this.items = [];
    ["one", "two", "three"].forEach(item => this.addItem(item));
  }

  addItem(text) {
    this.items.push({
      id: this.nextItemId += 1,
      text: text,
    });
    this.newItem = "";
  }

  removeItem(item) {
    var idx = this.items.indexOf(item);
    if(idx !== -1) {
      this.items.splice(idx, 1);
    }
  }
}</code></pre>
</div>
</div>

            </div>
            <div class="source-right">
                <iframe src="examples/animation/without-animation.html"></iframe>
            </div>
        </div>
    </section>

    <section>
        <div class="flex-title">
            <h2>Animations</h2>
        </div>
        <div class="source-view">
            <div class="source-left">
                <ul class="tabs" data-tab>
                    <li class="tab-title active"><a href="#animation-1">HTML</a></li>
                    <li class="tab-title"><a href="#animation-2">Script</a></li>
                    <li class="tab-title"><a href="#animation-3">CSS</a></li>
                </ul>

<div class="tabs-content">

<div class="content active" id="animation-1">
<pre><code class="html">&lt;div ng-controller=&quot;exampleCtrl as vm&quot;&gt;

  &lt;div&gt;
    &lt;input type=&quot;text&quot;
        ng-model=&quot;vm.newItem&quot;
        ng-keypress=&quot;($event.which === 13) &amp;amp;&amp;amp; vm.addItem(vm.newItem)&quot; /&gt;
    &lt;button type=&quot;button&quot;
        ng-click=&quot;vm.addItem(vm.newItem)&quot;&gt;Add&lt;/button&gt;
  &lt;/div&gt;

  &lt;div&gt;
    &lt;ol&gt;
      &lt;li ng-repeat=&quot;item in vm.items track by item.id&quot;
            class=&quot;my-items&quot;&gt;
        &lt;button type=&quot;button&quot;
          ng-click=&quot;vm.removeItem(item)&quot;&gt;x&lt;/button&gt;
          {{item.text}}
      &lt;/li&gt;
    &lt;/ol&gt;
  &lt;/div&gt;

&lt;/div&gt;
</code></pre>
</div>

<div class="content" id="animation-2">
<pre><code class="javascript">class ExampleCtrl {

  constructor() {
    this.nextItemId = 0;
    this.items = [];
    ["one", "two", "three"].forEach(item => this.addItem(item));
  }

  addItem(text) {
    this.items.push({
      id: this.nextItemId += 1,
      text: text,
    });
    this.newItem = "";
  }

  removeItem(item) {
    var idx = this.items.indexOf(item);
    if(idx !== -1) {
      this.items.splice(idx, 1);
    }
  }
}

angular.module('exampleApp', ['ngAnimate'])</code></pre>
</div>

<div class="content" id="animation-3">
<pre><code class="css">.my-items.ng-enter, .my-items.ng-move {
    transition: 0.75s linear all;
    padding-left: 80px;
    opacity: 0;
}

.my-items.ng-enter.ng-enter-active,
.my-items.ng-move.ng-move-active {
    padding-left: 0;
    opacity: 1;
}

.my-items.ng-leave {
    transition: 0.75s linear all;
    padding-left: 0;
    opacity: 1;
}
.my-items.ng-leave.ng-leave-active {
    opacity: 0;
    padding-left: 80px;
}</code></pre>
</div>
</div>

            </div>
            <div class="source-right">
                <iframe src="examples/animation/with-animation.html"></iframe>
            </div>
        </div>
    </section>

    <section>
        <div class="flex-title">
            <h2>Material Design</h2>
        </div>
        <div class="source-view">
            <div class="source-left">
                <ul class="tabs" data-tab>
                    <li class="tab-title active"><a href="#mat-design-1">HTML</a></li>
                    <li class="tab-title"><a href="#mat-design-2">Script</a></li>
                </ul>

<div class="tabs-content">

<div class="content active" id="mat-design-1">
<pre><code class="html">&lt;div ng-controller=&quot;exampleCtrl as vm&quot;&gt;
  &lt;md-content layout-padding&gt;
    &lt;md-input-container&gt;
      &lt;label&gt;Add Item&lt;/label&gt;
      &lt;input type=&quot;text&quot;
        ng-model=&quot;vm.newItem&quot;
        ng-keypress=&quot;($event.which === 13) &amp;amp;&amp;amp; vm.addItem(vm.newItem)&quot; /&gt;
    &lt;/md-input-container&gt;
  &lt;/md-content&gt;

  &lt;md-content layout-padding&gt;
    &lt;md-list&gt;
      &lt;md-list-item
        ng-repeat=&quot;item in vm.items track by item.id&quot;&gt;
        &lt;p&gt;{{ item.text }}&lt;/p&gt;
        &lt;md-button class=&quot;md-secondary&quot;
          aria-label=&quot;Remove item&quot;
          ng-click=&quot;vm.removeItem(item)&quot;&gt;
          &lt;md-icon md-svg-icon=&quot;delete&quot;&gt;&lt;/md-icon&gt;
        &lt;/md-button&gt;
      &lt;/md-list-item&gt;
    &lt;/md-list&gt;
  &lt;/md-content&gt;

&lt;/div&gt;</code></pre>
</div>

<div class="content" id="mat-design-2">
<pre><code class="javascript">class ExampleCtrl {

  constructor() {
    this.nextItemId = 0;
    this.items = [];
    ["one", "two", "three"].forEach(item => this.addItem(item));
  }

  addItem(text) {
    this.items.push({
      id: this.nextItemId += 1,
      text: text,
    });
    this.newItem = "";
  }

  removeItem(item) {
    var idx = this.items.indexOf(item);
    if(idx !== -1) {
      this.items.splice(idx, 1);
    }
  }
}

angular
  .module('exampleApp', ['ngMaterial'])
  .config([
    '$mdIconProvider',
    function($mdIconProvider) {
      $mdIconProvider
        .icon('delete', '/img/design/ic_delete_24px.svg');
    }
  ])
  .controller('exampleCtrl', [
    ExampleCtrl
  ]);</code></pre>
</div>
</div>

            </div>
            <div class="source-right">
                <iframe src="examples/material-design/material-design.html"></iframe>
            </div>
        </div>
    </section>

</article>

<script src="jspm_packages/system.js"></script>
<script src="config.js"></script>
<script>
    System.import('app/main').catch(function(err) {
        console.log("System load error:");
        console.log(err);
    });
</script>

</body>
</html>