<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>AngularJS Moving Forward</title>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="/css/presentation.css">
</head>
<body>

<article>

    <!-- Title Page -->
    <section>
        <div>
            <div>
                <img src="img/angular-js.png" />
            </div>
            <h1>Angular JS</h1>
            <h2>Moving Forward</h2>
            <hr />
            <h3>
                <i class="fa fa-twitter"></i> @dfbaskin
            </h3>
            <h3>
                <i class="fa fa-envelope"></i> dbaskin@wintellect.com
            </h3>
        </div>
    </section>

    <section>
        <div>
            <h2>State of Things</h2>
            <div class="bullet">
                <ul>
                    <li class="bullet">Started in 2009</li>
                    <li class="bullet">Became Popular in 2013</li>
                </ul>
                <img class="bullet" src="img/AngularSearchComparison.png" width="652" height="382" />
            </div>
        </div>
    </section>

    <section>
        <div>
            <h2>State of Things</h2>
            <div>
                <ul>
                    <li class="bullet">Now Widely Used</li>
                    <li class="bullet">Including Google Internal Projects</li>
                    <li class="bullet">Success in Wintellect Projects</li>
                </ul>
            </div>
        </div>
    </section>

    <section>
        <div>
            <h1 class="bullet">But ...</h1>
            <h2 class="bullet">Things move forward</h2>
        </div>
    </section>

    <section>
        <div>
            <ul>
                <li class="bullet">ECMAScript 6 (ES6)</li>
                <li class="bullet">Standards: Modules and Promises</li>
                <li class="bullet">Web Components</li>
            </ul>
        </div>
    </section>

    <section>
        <div class="side-by-side">
            <div class="row">
                <div class="large-12 columns">
                    <h2>Animations</h2>
                </div>
            </div>
            <div class="row">
                <div class="large-7 columns">
                    <ul class="tabs" data-tab>
                        <li class="tab-title active"><a href="#no-animation-1">HTML</a></li>
                        <li class="tab-title"><a href="#no-animation-2">Script</a></li>
                    </ul>

<div class="tabs-content">
<div class="content active" id="no-animation-1">
<pre><code class="html">&lt;div ng-controller=&quot;exampleCtrl as vm&quot;&gt;
 &lt;div&gt;
  &lt;input type=&quot;text&quot;
    ng-model=&quot;vm.newItem&quot;
    ng-keypress=&quot;($event.which === 13) &amp;amp;&amp;amp; vm.addItem(vm.newItem)&quot; /&gt;
  &lt;button type=&quot;button&quot;
    ng-click=&quot;vm.addItem(vm.newItem)&quot;&gt;Add&lt;/button&gt;
  &lt;/div&gt;
  &lt;div&gt;
    &lt;ol&gt;
      &lt;li ng-repeat=&quot;item in vm.items&quot;&gt;
        &lt;button type=&quot;button&quot;
          ng-click=&quot;vm.removeItem(item)&quot;&gt;x&lt;/button&gt;
          {{item}}
        &lt;/li&gt;
    &lt;/ol&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
</div>
<div class="content active" id="no-animation-2">
<pre><code class="javascript">class ExampleCtrl {

  constructor() {
    this.items = ["One", "Two", "Three"];
    this.newItem = "Four";
  }

  addItem(item) {
    this.items.push(item);
    this.newItem = "";
  }

  removeItem(item) {
    var idx = this.items.indexOf(item);
    if(idx !== -1) {
      this.items.splice(idx, 1);
    }
  }
}
</code></pre>
</div>
</div>
                </div>
                <div class="large-5 columns">
                    <iframe src="examples/animation/without-animation.html"></iframe>
                </div>
            </div>
        </div>
    </section>

</article>

<script src="jspm_packages/system.js"></script>
<script src="config.js"></script>
<script>
    Promise.all([
        System.import('foundation/js/vendor/jquery'),
        System.import('foundation/js/foundation'),
        System.import('app/main')
    ]).then(function(modules) {
        var $ = modules[0];
        $(document).foundation();
    }).catch(function(err) {
        console.log("System load error:");
        console.log(err);
    });
</script>

</body>
</html>